Example/Example.xcodeproj/xcuserdata/rubennahatakyan.xcuserdatad/
.swiftpm/xcode/package.xcworkspace/xcuserdata/rubennahatakyan.xcuserdatad/
Example/.DS_Store
Example/Example.xcworkspace/xcuserdata/rubennahatakyan.xcuserdatad/
Example/Pods/Pods.xcodeproj/xcuserdata/rubennahatakyan.xcuserdatad/
ListPlaceholder/.DS_Store
.DS_Store
.swiftpm/xcode/xcuserdata/rubennahatakyan.xcuserdatad/
